/* BASE STYLES */

:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border: #e0e3e6;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border: #252629;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body {
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 480px;
  height: 88vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}

/* NOTES STYLES */

.notes {
  width: 100%;
}

.notes-header {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.notes-title,
.notes-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.notes-count {
  font-size: 18px;
  color: var(--color-gray);
}

.notes-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 3rem 1rem;
  scrollbar-width: none; /* Firefox */
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.notes-list-item {
  display: grid;
  grid-template-rows: 2fr 1fr;

  min-width: 200px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 12px;
  padding: 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  background-color: #fef68a;
}

@media (min-width: 400px) {
  .notes-list-item {
    width: 350px;
  }
}

.notes-list-item:hover {
  cursor: pointer;
}

.notes-list-item h3,
.notes-list-item p span {
  font-weight: 600;
}

.notes-list-item p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-light);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-list-item span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
}

.notes-list-item hr {
  margin: 1rem 0 10px 0;
  border: none;
  border-top: 1px solid gray;
  border-radius: 5px;
}

.floating-button {
  font-size: 48px;
  position: fixed;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.floating-button > svg {
  fill: var(--color-bg);
}

/*==============================
=>  Note Styles
================================*/

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.note-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.note-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.note-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.note textarea {
  background-color: var(--color-white);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 70vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.note textarea:active,
.note textarea:focus {
  outline: none;
  border: none;
}

.note textarea::-webkit-scrollbar {
  display: none;
}

/* modal */

.dialog {
  margin: auto;
  padding: 0;
  border: none;
  outline: none;
  display: grid;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
  padding: 0;
}

@media (min-width: 600px) {
  .dialog::backdrop {
    backdrop-filter: blur(16px) saturate(150%);
  }
}

.dialog[open] {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;

  max-width: calc((100%) - 3em);
  max-height: calc((100%) - 3rem);

  animation-name: dialogIn;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
  background: none;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.container {
  background-color: var(--color-surface);
  padding: 1.5rem;
  border-radius: 28px;
  width: 500px;
  border: 1px solid var(--color-outline-variant);
}

.close[open] {
  animation-name: dialogOut;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
}

.close::backdrop {
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dialogIn {
  from {
    opacity: 0;
    transform: scale(115%);
  }

  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes dialogOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.notes-modal-item {
  display: grid;
  margin: auto;
  min-width: 40vw;
  width: 80vw;
  height: 80vh;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 12px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  background-color: #fef68a;
  border: none;
  border-radius: 16px;
}

.container-modal-item {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
}

.text-area-modal {
  width: 50vw;
  background-color: transparent;
  border: none;
  padding: 16px 12px;
  width: 100%;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.text-area-modal:active,
.text-area-modal:focus {
  outline: none;
  border: none;
}

.text-area-modal::-webkit-scrollbar {
  display: none;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.modal-buttons button {
  border: 0;
  font-size: 14px;
  background-color: white;
  padding: 8px 16px;
  width: 150px;
  cursor: pointer;
  border-radius: 16px;
  transition: background 500ms ease;
}

.modal-buttons button:hover {
  color: white;
  background-color: var(--color-main);
}

@media (min-width: 650px) {
  .modal-buttons {
    gap: 2rem;
  }
}

.title-area-modal {
  width: 50vw;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  padding: 16px 12px;
  width: 100%;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.title-area-modal:active,
.title-area-modal:focus {
  outline: none;
}

.title-area-modal::-webkit-scrollbar {
  display: none;
}
